* {
  margin: 0;
  padding: 0;
}
body {
  background:#f0efef;
}

/* ESTILOS DE LOGGING IN */
.loggingIn {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  margin: auto;
  margin-top: 6%;
  padding: 0px 50px 45px;
  /* width: 38%; */
  max-width: 340px; /* Ancho del fomulario */
  /* height: 150%; */
  z-index: 1;
}
img {
  width: 90%;
  margin: auto; /* centra la imagen */
  display: block; /* quita el display en linea */
}
/* label */
.user, .password {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  margin-bottom: 5px;
}
/* input */
#user, #password {
  font-family: 'Open Sans', sans-serif;
  border: 0;
  border-bottom: 3px solid #ffe521;
  background: none;
  color: #000;
  display: block;
  font-size: 19px; 
  line-height: 145%;
  text-align: start;
  padding: 12px 0 14px;
  position: relative;
  width: 100%;
  transition: 0.5s; 
}
#user {
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
#password {
  font-weight: 800;
  letter-spacing: 3px;
}
#user:hover, #password:hover {
  border-bottom: 3px solid #ffc421;
}
#user:focus, #user:active, #password:focus, #password:active {
  border-bottom: 3px solid rgb(0, 0, 0);
}
/* boton */
.logging {
  background-color: #ffe521;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  color: #000;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%; 
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 9%;
  padding: 4%;
  transition: .2s;
  text-align: center;
  text-decoration: none;
  width: 40%;
  transition: 0.3s;
}
.logging:hover {
  background-color: #fffc3df6;
}

/* PÁGINA DE BIENVENIDA */
.welcome {
color: #000;
font-size: 200%;
font-family: 'Bitter', serif;
margin-top: 4%;
text-align: center;
}
.menu-sedes {
  background: rgba(1, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  margin: auto;
  margin-top: 3%;
  width: 26%;
}
.place {
  border-radius: 10px;
  font-size: 180%;
  font-family: 'Bitter', serif;
  list-style-type: none;
  text-align: center;
  padding-top: 4.3%;
  padding-bottom: 4.3%;
}
.place:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255) ;
}

/* SEGUNDA PAGINA */
.second-tab {
  float: left;
  padding-top: 0px;
  width: 100%;
}
.logo {
  margin-left: 4.5%;
  margin-top: 10%;
  padding: 1%;
  width: 90%;
  height: auto;
}
.user-ale {
  cursor: pointer;
  width: 40%;
}
.user-alejandra {
  cursor: pointer;
  font-family: 'Bitter', serif;
  font-size: 100%;
  text-align: center;
  margin-bottom: 15%;
}
.main-menu{
  display:inline-block;
  background: none;
  border-right-style: solid;
  border-color: #ffe521;
  border-width: 4%;
  cursor: pointer;
  height: 3000px;
  margin-right: 10px;
  width: 20%;
}
.menu-butom{
  background-color: #ffe521;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 0.5%; 
  transition: 0.3s;
  line-height: 60px;
}
.menu-butom:hover {
  background-color:  #fffc3df6;
}
#option1{
  margin-top:4%;
  border-radius: 13px 13px 0px 0px;
}
#option5{
  border-radius: 0px 0px 13px 13px;
}

/* LISTA DE COHORTS */
.list-cohorts {
  font-size: 22px;
  font-family: 'Bitter', serif;
  float: right;
  z-index: 2;
  cursor: pointer;
  line-height: 30px;
  padding-top: 6%;
  margin: auto;
  width: 60%;
}
.li-list {
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  width: 100%;
}
.elem-cohort {
  list-style-type: none;
  margin-right: 30%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 3%;
  padding-right: 9px;
  transition: 0.1s;
}
.elem-cohort:hover {
  background-color: rgb(86, 248, 154);
}
.list-student {
  margin: auto;
}
.student {
  color: #000;
  font-size: 20px;
  list-style-type: none;
}
.elem-student {
  font-family: 'Bitter', serif;
  margin-left: 37%;
  margin-right: 30%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 3%;
  padding-right: 9px;
  transition: 0.1s;
}
.elem-student:hover {
  background-color: rgb(86, 248, 154);
}
/* tabs */
.hide {
  display: none;
}
.show {
  display: block;
}